@import url("https://use.typekit.net/qqu8qhw.css");
body {
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}
h1, h3, h3, h4, h5, h6 {
  font-family: Univia-Pro, sans-serif;
  font-style: normal;
}
.byteme-header {
    background: #000000;
    padding: .2rem 0;
    font-family: Univia-Pro, sans-serif;
    -webkit-box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.89);
    -moz-box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.89);
    box-shadow: 0px 7px 4px -6px rgba(0, 0, 0, 0.29);
}

.logo {
    padding: .5rem  .5rem 0 .5rem;
    max-width: 220px;
}

.nav .nav-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
}